.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #197487;
}

.bg-white {
    background-color: #D6D9C5 !important;
}

element.style {
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #0D0D0D;
}

.navbar-light .navbar-brand {
    color: #D94F30;
}

a:hover {
    color: #198754;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn, .btn:active {
    background-color: #D94F30;
}

    .btn:hover, .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #D9886A;
        background-color: #D6D9C5;
    }

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
    margin: 0px;
}

body {
    margin-bottom: 60px;
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: #0D0D0D;
    text-align: var(--bs-body-text-align);
    background-color: #F2F1EC;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

td {
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}

.species-image-preview {
    width: 90px;
    height: 90px;
}

h2 {
    color: #D94F30 !important;
    margin-bottom: 20px;
}

h5 {
    text-transform: capitalize;
}

.text-abbreviation {
    text-transform: uppercase;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #0D0D0D !important;
}

.share-location {
    padding: 40px;
    text-align: center;
    vertical-align: middle;
}

.table-hover {
    background-color: #f2f2f2 !important; /* highlight color */
    cursor: pointer !important;
}

/*details page*/
.species-title {
    text-align: left;
}

.species-subtitle {
    text-align: left;
    color: #D94F30 !important;
}

.species-banner-image {
    border-radius: 6px;
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
    box-sizing: border-box;
    object-fit: cover;
}

.image-attribution {
    text-align: center;
    color: #6c757d !important;
}

.no-species-found {
    text-align: center;
    margin: 60px;
}

.footer {
    text-align: center;
    margin-top: 60px;
    color: #6c757d !important;
}