@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center col-lg-12">
    <h1 class="display-4">Welcome</h1>
    <img class="img-fluid" src="/images/48600-species.jpg">
    <img src="/images/RedList-Logo.jpg">
    <img src="/images/natureserve-logo.png">
    <img src="/images/inaturalist-logo.svg">
    <img src="/images/redlist-logo.svg">
</div>
