@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center col-lg-12">
    <div class="row">
        <div class="endangered-near-me-bg">
            <div class="endangered-near-me-text-container">
                <div>
                    <div >
                        <img src="/images/endangered-near-me-logo.png" class="endangered-near-me-logo" />
                    </div>
                    <div class="endangered-near-me-text">
                        <b>Endangered Near You</b> is an interactive web app that reveals the rare and
                        threatened species living right in your own backyard.
                        By connecting users with scientific data on federally
                        and globally listed species nearby, the app aims to spark
                        curiosity, raise awareness, and inspire action to protect
                        the fragile ecosystems we often overlook.
                        The app will allow a user to choose to load endangered
                        species in their area, a location of the user’s choosing, or
                        a randomly chosen location. The app will then display
                        images and information about endangered species.
                    </div>
                    <div class="endangered-near-me-text">
                        In an era where concrete often takes precedence over canopies
                        and fantasy worlds overshadow the real one, it's more important
                        than ever to stay grounded in the truth of what’s disappearing
                        around us. The natural world is vanishing quietly, but its loss
                        will echo loudly into our future. Awareness is the first step
                        toward protecting what we still have. Endangered Near You uses 
                        three resources for it's data: iNaturalist, IUCN Red List, and 
                        NatureServe. See what endangered species are living near you!
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-image">
            <img class="img-fluid" src="/images/48600-species.png">
        </div>
        <div class="col-lg-4 resource-panel" style="background-image: url('/images/kemps-ridley-sea-turtle.jpeg');">
            <div class="resource-panel-text">
                <img class="organization-images img-fluid" src="/images/redlist-logo.svg">
                <p>
                    “Established in 1964, the <b>International Union for Conservation of Nature’s Red List</b> (IUCN) of
                    Threatened Species has evolved to become the world’s most comprehensive information
                    source on the global extinction risk status of animal, fungus and plant species.”
                </p>
                <p>
                    <i>
                        <a href="https://www.iucnredlist.org/about/background-history" target="_blank">
                            — International Union for Conservation of Nature (IUCN), The IUCN Red List of Threatened Species – Background & History
                        </a>
                    </i>
                </p>
            </div>
        </div>


        <div class="col-lg-4 resource-panel" style="background-image: url('/images/venus-flytrap.jpeg');">
            <div class="resource-panel-text">
                <img class="organization-images img-fluid" src="/images/natureserve-logo.png">
                <p>
                    "For 50 years, <b>NatureServe</b> has been the authoritative source for biodiversity data throughout
                    North America. We work with 60+ network organizations and nearly 1,000 conservation professionals to collect, analyze, and deliver biodiversity knowledge that informs conservation action."
                </p>
                <p>
                    <i>
                        <a href="https://www.natureserve.org/who-we-are" target="_blank">
                            — NatureServe, Global Conservation Status Ranks – Who We Are
                        </a>
                    </i>
                </p>
            </div>
        </div>

        <div class="col-lg-4 resource-panel" style="background-image: url('/images/african-forest-elephant.jpg');">
            <div class="resource-panel-text">
                <img class="organization-images img-fluid" src="/images/inaturalist-logo.svg">
                <p>
                    "<b>iNaturalist</b> helps you identify the plants and animals around you
                    while generating data for science and conservation. Get connected
                    with a community of millions scientists and naturalists who can help
                    you learn more about nature! What’s more, by recording and sharing
                    your observations, you’ll create research-quality data for scientists
                    working to better understand and protect nature."
                </p>
                <p>
                    <a href="https://www.inaturalist.org/pages/about" target="_blank">
                        — iNaturalist, About – What is iNaturalist?
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
