@using EndangeredNearYou.Domain.Entities
@model IEnumerable<Continent>

<h2>Continents</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Code</th>
    </tr>

    @foreach (var continent in @Model)
    {
        <tr>
            <td><a href=/Location/ViewCountries/@continent.Continent_Code>@continent.Continent_Name</a></td>
            <td>@continent.Continent_Code</td>
        </tr>
    }

</table>