@using EndangeredNearYou.Web.Models
@model LocationViewModel

<h2>Update @Model.Country_Code</h2>

@using (Html.BeginForm("UpdateLocationToDatabase", "Location", "Post"))
{
    <input asp-for="City_Id" type="hidden" value="@Model.City_Id" />

    <label asp-for="Country_Code" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Country_Code" />

    <label asp-for="State" class="control-label">Price</label>
    <input type="number" step="0.01" name="Price" class="form-control" value="@Model.State" />

    <input type="submit" value="Update Location" class="btn btn-primary" />
}