@using EndangeredNearYou.Web.Models
@model IEnumerable<LocationViewModel>

<h3>Cities</h3>

<table class="table">
    <tr>
        <th>City Name</th>
        <th>State</th>
    </tr>

    @foreach (var location in @Model)
    {
        var state = "";
        if (string.IsNullOrEmpty(location.State))
        {
            state = "unavailable";
        }
        else
        {
            state = location.State;
        }

        <tr>
            <td><a href=/Location/SelectLocation/@location.City_Id>@location.Name</a></td>
            <td>@state<td>
        </tr>
    }
</table>